@charset "UTF-8";
@import "reset/reset.css";
@import "fonts/fonts.css";
/* -------- common -------- */
body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.section-inner {
  max-width: 1020px;
  margin: 0 auto;
}

/* -------- /common -------- */
/* -------- header -------- */
.section-header {
  color: #E9FFFF;
  background: url("../img/background/header-bg2.jpg") no-repeat center;
  background-size: cover;
}
.section-header .section-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 255px;
}
.section-header-person, .section-header-links {
  text-align: center;
}
.section-header-person__name {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 60px;
}
.section-header-person__position {
  margin-bottom: 65px;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}
.section-header-links {
  display: flex;
}
.section-header-links__item {
  text-decoration: none;
  margin: 0 25px;
}
.section-header-links__item:hover .logo, .section-header-links__item:focus .logo {
  transform: scale(1.15);
}
.section-header-links__item .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  transition: 0.4s;
  margin-bottom: 6px;
}
.section-header-links__item .logo::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000B0C;
  opacity: 0.7;
  border-radius: 100%;
}
.section-header-links__item .logo img {
  position: relative;
  z-index: 10;
}
.section-header-links__item .name {
  font-size: 12px;
  font-weight: 400;
  color: #E9FFFF;
}

/* -------- /header -------- */
/* -------- about -------- */
.section-about {
  padding-bottom: 70px;
  background-color: #EDFFFF;
}
.section-about-title {
  overflow: hidden;
  text-align: center;
  font-weight: 500;
  padding: 60px 0;
  font-size: 35px;
}
.section-about-title::before, .section-about-title::after {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.section-about-title::before {
  right: 0.6em;
  margin-left: -50%;
}
.section-about-title::after {
  left: 0.6em;
  margin-right: -50%;
}
.section-about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-about-photo {
  min-height: 220px;
  min-width: 220px;
}
.section-about-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 220px;
  border-radius: 100%;
}
.section-about-description__title {
  display: block;
  font-weight: 500;
  margin-bottom: 1em;
}
.section-about-description__text {
  padding-right: 40px;
}
.section-about-facts__title {
  font-weight: 500;
}
.section-about-facts__list ul {
  padding-inline-start: 0;
  list-style: none;
}
.section-about-facts__list ul li {
  position: relative;
  padding-left: 20px;
}
.section-about-facts__list ul li::before {
  content: "➤";
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 10px;
}
.section-about-photo, .section-about-description, .section-about-facts {
  flex: 1;
  margin-right: 30px;
}
.section-about-description, .section-about-facts {
  height: 170px;
  min-width: 310px;
}

/* -------- /about -------- */
/* -------- projects -------- */
.section-projects {
  padding-bottom: 70px;
  color: #E9FFFF;
  background: url("../img/background/projects-bg.jpg") no-repeat center;
  background-size: cover;
}
.section-projects-title {
  overflow: hidden;
  text-align: center;
  font-weight: 500;
  padding: 60px 0;
  font-size: 35px;
}
.section-projects-title::before, .section-projects-title::after {
  background-color: #FFFFFF;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.section-projects-title::before {
  right: 0.6em;
  margin-left: -50%;
}
.section-projects-title::after {
  left: 0.6em;
  margin-right: -50%;
}
.section-projects__item {
  display: flex;
  position: relative;
}
.section-projects__item:not(:last-child) {
  margin-bottom: 70px;
}
.section-projects__item::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000B0C;
  opacity: 0.7;
}
.section-projects__item-content {
  display: flex;
  z-index: 10;
  padding: 10px;
}
.section-projects__item-picture {
  overflow: hidden;
}
.section-projects__item-picture:hover img {
  transform: scale(1.1);
  opacity: 0.85;
}
.section-projects__item-picture img {
  object-fit: cover;
  transition: 0.3s all;
}
.section-projects__item-description.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-projects__item-description.project-description .project-description__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
.section-projects__item-description.project-description .project-description__tags {
  display: flex;
  flex-wrap: wrap;
}
.section-projects__item-description.project-description .project-description__tags-tag {
  color: #B4B4B4;
  border: 1.5px solid #000000;
  padding: 1px 8px;
  margin-right: 12px;
  margin-bottom: 10px;
  font-size: 13px;
}
.section-projects__item-description.project-description .project-description__text {
  font-size: 14px;
}
.section-projects__item-description.project-description .project-description__text-list ul {
  padding-inline-start: 0;
  list-style: none;
}
.section-projects__item-description.project-description .project-description__text-list ul li {
  position: relative;
  padding-left: 20px;
}
.section-projects__item-description.project-description .project-description__text-list ul li::before {
  content: "➤";
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 10px;
}
.section-projects__item-description.project-description .project-description__text-list ul {
  margin-block-start: 5px;
}
.section-projects__item-description.project-description .project-description__button-area {
  display: flex;
}
.section-projects__item-description.project-description .project-description__button-area_item {
  width: 110px;
  height: 24px;
  text-transform: uppercase;
  margin-right: 28px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #EDFFFF;
  color: #000000;
  transition: 0.3s all;
}
.section-projects__item-description.project-description .project-description__button-area_item:hover, .section-projects__item-description.project-description .project-description__button-area_item:focus {
  transform: scale(1.06);
  box-shadow: 0 0 7px 3px rgba(0, 209, 255, 0.3);
  background-color: #d3ffff;
}

/* -------- /projects -------- */
/* -------- skills -------- */
.section-skills {
  padding-bottom: 70px;
  background-color: #EDFFFF;
}
.section-skills-title {
  overflow: hidden;
  text-align: center;
  font-weight: 500;
  padding: 60px 0;
  font-size: 35px;
}
.section-skills-title::before, .section-skills-title::after {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.section-skills-title::before {
  right: 0.6em;
  margin-left: -50%;
}
.section-skills-title::after {
  left: 0.6em;
  margin-right: -50%;
}
.section-skills-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-skills-content-type {
  width: 480px;
  padding: 0 50px;
  margin-bottom: 30px;
}
.section-skills-content-type__title {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.section-skills-content-type__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.section-skills-content-type__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 33.3333%;
  min-width: 95px;
  margin-bottom: 20px;
}
.section-skills-content-type__list-item .title {
  text-align: center;
  font-size: 14px;
}

/* -------- /skills -------- */
/* -------- certificates -------- */
/* -------- /certificates -------- */
/* -------- contacts -------- */
/* -------- /contacts -------- */

/*# sourceMappingURL=main.css.map */
