@import "reset/reset";
@import "fonts/fonts";
@import "variables/variables";

//-------- */ mixins -------- */
@mixin font-rubik {
  font-family: 'Rubik', sans-serif;
}

@mixin section-title($color) {
  overflow: hidden;
  text-align: center;
  font-weight: $font-weight-medium;
  padding: 60px 0;
  font-size: 35px;

  &::before,
  &::after {
    background-color: $color;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.6em;
    margin-left: -50%;
  }

  &::after {
    left: 0.6em;
    margin-right: -50%;
  }
}

@mixin section-background($url) {
  color: $color-font-main;
  background: url($url) no-repeat center;
  background-size: cover;
}

@mixin section-background-color {
  background-color: $color-bg-main;
}

@mixin background-mask {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-bg-mask;
  opacity: 0.7;
}

@mixin section-bottom-padding {
  padding-bottom: 70px;
}

@mixin list-style {
  ul {
    margin-block-start: 5px;
    padding-inline-start: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "\27A4";
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 10px;
      }
    }
  }
}

//-------- */ /mixins -------- */

/* -------- common -------- */

html {
  min-width: 320px;
}

body {
  @include font-rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: $font-weight-regular;
  line-height: 1.6;
}

.section-wrapper {
  max-width: 1040px;
  margin: 0 auto;
}

/* -------- /common -------- */

/* -------- header -------- */
.section-header {
  @include section-background("../img/background/header-bg.jpg");
  position: relative;

  .section-wrapper {
    height: calc(100vh + 53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 255px;
  }

  &-person,
  &-links {
    text-align: center;
  }

  &-person {
    &__name {
      font-size: 50px;
      font-weight: $font-weight-medium;
      margin-bottom: 60px;

    }

    &__position {
      margin-bottom: 65px;
      font-size: 28px;
      font-weight: $font-weight-light;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 520px) {
    &-person {
      &__name,
      &__position {
        padding: 0 20px;
      }
    }

  }

  &-links {
    display: flex;

    &__item {
      padding: 0 25px;

      &:hover .logo,
      &:focus .logo {
        transform: scale(1.15);
        box-shadow: 0 0 15px 1px rgba(0, 209, 255, 0.4)
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 48px;
        height: 48px;
        transition: 0.40s;
        margin-bottom: 6px;
        background: rgba(0, 11, 12, 0.7);
        border-radius: 100%;
      }

      .name {
        font-size: 12px;
        font-weight: $font-weight-regular;
        color: $color-font-main;
      }
    }
  }

  &-nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: $color-bg-secondary;
    border-bottom: 3px solid $color-bg-third;
    height: 50px;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;

    &.fixed {
      bottom: inherit;
      left: 0;
      position: fixed;
      top: 0;
      animation: popDown 0.4s;
    }

    @keyframes popDown {
      0% {
        transform: translateY(-100px);
      }
    }

      &__link {
        cursor: pointer;
        font-size: 17px;
        padding: 11px 25px;
        text-transform: uppercase;
        transition: color 0.4s;

        .active {
          color: $color-bg-third;
        }

        &:hover {
          color: $color-bg-third;
        }

    }
  }
}

/* -------- /header -------- */

/* -------- about -------- */
.section-about {
  @include section-bottom-padding;
  @include section-background-color;

  &-title {
    @include section-title($color-black);
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  &-photo {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 220px;
      border-radius: 100%;
    }
  }

  &-description {
    &__text {
      margin-top: 5px;
    }
  }

  &-facts {
    &__list {
      @include list-style;
    }
  }

  &-photo,
  &-description,
  &-facts {
    flex: 1 1;
    padding: 0 25px;
    width: 250px;
  }

  &-description,
  &-facts {
    min-height: 170px;

    &__title {
      font-weight: $font-weight-medium;
    }
  }

  @media screen and (max-width: 768px) {
    &-photo {
      min-width: 100%;
      margin-bottom: 35px;

      img {
        width: 190px;
      }
    }
    &-description,
    &-facts {

    }
  }
  @media screen and (max-width: 520px) {
    &-content {
      flex-direction: column;

    }

    &-photo,
    &-description,
    &-facts {
      flex-basis: 170px;;
    }

    &-description,
    &-facts {
      text-align: center;
      width: 310px;
    }
    &-facts {
      &__list {
        li {
          padding-left: 0 !important;

          &::before {
            content: none !important;
          }
        }
      }
    }
  }
}


/* -------- /about -------- */

/* -------- projects -------- */
.section-projects {
  @include section-bottom-padding;
  @include section-background("../img/background/projects-bg.jpg");

  &-title {
    @include section-title($color-font-main);
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &__title {
      display: none;
    }

    &__content {
      display: flex;
      background: rgba(0, 11, 12, 0.8);
    }

    &__half {
      display: flex;
      padding: 10px;
      max-width: 520px;
    }

    &__picture {
      overflow: hidden;

      img {
        transition: .5s all;
        opacity: 0.95;
      }

      &:hover img {
        transform: scale(1.1);
        opacity: 0.75;
      }
    }

    &__description.project-description {
      display: flex;
      flex-direction: column;

      .project-description {
        &__title {
          font-weight: $font-weight-medium;
          text-transform: uppercase;
          font-size: 16px;
          margin-bottom: 10px;
        }

        &__tags {
          display: flex;
          flex-wrap: wrap;

          &-tag {
            color: $color-font-secondary;
            border: 1.5px solid $color-black;
            padding: 1px 8px;
            margin-right: 12px;
            margin-bottom: 12px;
            font-size: 13px;
          }
        }

        &__text {
          font-size: 14px;
          font-weight: $font-weight-light;

          p {
            margin-bottom: 25px;
          }

          &-list {
            @include list-style;

            span {
              font-weight: $font-weight-medium;
            }
          }
        }

        &__links {
          display: flex;
          margin: auto 0 0;
          justify-content: space-between;

          &-item {
            text-transform: uppercase;
            text-align: center;
            font-size: 11px;
            font-weight: $font-weight-bold;
            border-radius: 3px;
            background-color: $color-bg-main;
            color: $color-black;
            transition: .3s all;
            padding: 3px 40px;
            width: 40%;

            &:hover,
            &:focus {
              transform: scale(1.05);
              box-shadow: 0 0 7px 3px rgba(0, 209, 255, 0.2);
              background-color: #d3ffff;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    &-item {
      display: flex;
      justify-content: center;

      &__content {
        flex-direction: column;
        align-items: center;

      }

      &__title {
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        font-size: 16px;
        padding-top: 10px;
        display: block;
      }

      &__half {
        flex-direction: column;
      }

      &__description.project-description {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .project-description {
          &__title {
            display: none;
          }

          &__tags {
            justify-content: center;

            &-tag {
              margin: 0 6px 12px;
            }
          }

          &__text {
            text-align: center;

            &-list {
              li {
                padding-left: 0 !important;

                &::before {
                  content: none !important;
                }
              }
            }
          }
        }
      }
    }
  }
}


/* -------- /projects -------- */

/* -------- skills -------- */
.section-skills {
  @include section-background-color;

  &-title {
    @include section-title($color-black);
  }

  &-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-type {
      width: 480px;
      padding: 0 50px;
      margin-bottom: 30px;

      &__title {
        text-align: center;
        font-size: 22px;
        font-weight: $font-weight-medium;
        margin-bottom: 20px;
      }

      &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          list-style: none;
          width: 33.3333%;
          min-width: 95px;
          margin-bottom: 20px;

          .title {
            text-align: center;
            font-size: 14px;

          }
        }
      }
    }
  }
}

/* -------- /skills -------- */

/* -------- certificates -------- */
.section-certificates {
  @include section-bottom-padding;
  @include section-background("../img/background/certificates.jpg");

  &-title {
    @include section-title($color-font-main);
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      padding: 12px;

      &-picture {
        position: relative;
        overflow: hidden;
        width: 315px;
        height: 223px;

        figcaption {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #E9FFFF;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: .4s;
          background: rgba(0, 11, 12, 0.8);;
          font-size: 19px;
          font-weight: 500;
        }

        img {
          transition: .4s;
        }

        &:hover {
          img {
            transform: scale(1.05);
            opacity: 0.85;
          }

          figcaption {
            opacity: 1;
          }

          box-shadow: 0 0 15px 0.5px rgba(118, 221, 255, 0.4)
        }
      }
    }
  }
}

/* -------- /certificates -------- */

/* -------- contacts -------- */
.section-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-bg-secondary;
  color: $color-font-main;
  padding: 35px 0;

  &-links {
    display: flex;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      width: 55px;
      margin: 15px;
      background: #262f38;
      overflow: hidden;
      transition: background 0.3s, transform 0.3s;

      img {
        position: relative;
      }

      &:hover {
        background: $color-bg-third;
        box-shadow: 0 0 1px 1px rgba(118, 221, 255, 0.3);
        transform: scale(0.9);

      }

      &:hover img {
        animation: verticalSlide 0.3s;
      }

      @keyframes verticalSlide {
        0% {
          bottom: 0;
        }
        50% {
          bottom: -35px;
        }
        51% {
          bottom: 35px
        }
        100% {
          bottom: 0;
        }
      }
    }
  }

  &-copyright {
    text-align: center;
    color: $color-font-main;
    font-size: 13px;
  }
}

/* -------- /contacts -------- */

