$color-white: #FFFFFF;
$color-black: #000000;
$color-bg-main: #EDFFFF;
$color-bg-secondary: #171F28;
$color-bg-mask: #000B0C;
$color-font-main: #DBFEFE;


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;