$color-black: #000000;
$color-bg-main: #EEFFFF;
$color-bg-secondary: #171F28;
$color-bg-third: #00bbbb;
$color-bg-mask: #000B0C;
$color-font-main: #EFFFFF;
$color-font-secondary: #B4B4B4;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;